In [1]:
# Selecting the model/ Estimator

In [2]:
# 1- import data

In [3]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing

# Load California housing dataset
california = fetch_california_housing()

# Convert to DataFrame
boston_df = pd.DataFrame(california.data, columns=california.feature_names)
boston_df['target'] = california.target

boston_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [4]:
len(boston_df)

20640

In [5]:
## Info about data 1) numbers or target >> regression 2) Column Name >> Label Data  3) No. of samples >> 20640
## According to that parameters we are choosing model from ml_map
## in this case, we select RigidRegression Model

In [6]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

In [7]:
# To fix value
np.random.seed(1)

# create data
x = boston_df.drop('target', axis = 1)
y = boston_df['target']
# split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
# instantiate model
reg_model = Ridge()
reg_model.fit(x_train, y_train)

# check score
reg_model.score(x_test, y_test)

0.5971400590759695

In [8]:
# now try RandomForestRegression

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
# To fix value
np.random.seed(1)

# create data
x = boston_df.drop('target', axis = 1)
y = boston_df['target']
# split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
# instantiate model
reg_model = RandomForestRegressor()
reg_model.fit(x_train, y_train)

# check score
reg_model.score(x_test, y_test)

0.8043322408631032

In [11]:
# Classification Model

In [12]:
my_data = pd.read_csv('Heart Attack Data.csv')
my_data.head()

,age,sex,total_cholesterol,ldl,hdl,systolic_bp,diastolic_bp,smoking,diabetes,heart_attack
0,57,1,229.463642,175.879129,39.225687,124.070127,91.378780,0,0,0
1,58,1,186.464120,128.984916,34.950968,95.492552,64.355040,1,0,0
2,37,1,251.300719,152.347592,45.913288,99.519335,64.953147,0,1,0
3,55,1,192.058908,116.803684,67.208925,122.460002,73.821382,0,0,0
4,53,1,151.203448,107.017396,60.693838,123.022257,81.121946,0,1,0

In [13]:
len(my_data)

1000

In [14]:
## Information about this data: 1) We have to find whether the patient has heart attack or not >> Classification Problem
## 2) label data    ## 3) length of data

In [15]:
# Linear SVC

In [16]:
from sklearn.svm import LinearSVC

In [17]:
# create data
x = my_data.drop('heart_attack', axis = 1)
y = my_data['heart_attack']
# split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
# instantiate model
svc_model = LinearSVC()
svc_model.fit(x_train, y_train)

# check score
svc_model.score(x_test, y_test)

0.9333333333333333

In [18]:
# SVC Ensemble Classfier

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
# create data
x = my_data.drop('heart_attack', axis = 1)
y = my_data['heart_attack']
# split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
# instantiate model
rfc_model = RandomForestClassifier()
rfc_model.fit(x_train, y_train)

# check score
rfc_model.score(x_test, y_test)

0.8966666666666666

In [21]:
## Note: 1-Stuctured Data >> Ensembler      2-Unstuctured Data >> Deep Learning