In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.ensemble import RandomForestClassifier as clf

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [7]:
# Getting Data Ready
# 1- Split data into features and label (define dependent and independent variables)
# 2- Fill missing values or data
# 3- Converting data types

In [8]:
data = pd.read_csv('Heart Attack Data.csv')
data

,age,sex,total_cholesterol,ldl,hdl,systolic_bp,diastolic_bp,smoking,diabetes,heart_attack
0,57,1,229.463642,175.879129,39.225687,124.070127,91.378780,0,0,0
1,58,1,186.464120,128.984916,34.950968,95.492552,64.355040,1,0,0
2,37,1,251.300719,152.347592,45.913288,99.519335,64.953147,0,1,0
3,55,1,192.058908,116.803684,67.208925,122.460002,73.821382,0,0,0
4,53,1,151.203448,107.017396,60.693838,123.022257,81.121946,0,1,0
...,...,...,...,...,...,...,...,...,...,...
995,65,1,195.336429,149.070951,43.914928,132.878440,86.246414,0,0,0
996,60,1,192.342928,134.357395,53.380714,145.149535,91.069141,0,0,0
997,70,0,174.179319,125.900047,50.406918,133.022878,85.851330,0,0,0
998,48,0,189.715685,152.388737,40.700912,113.527965,86.368294,0,0,0
999,63,1,136.207724,96.768635,57.566116,136.439507,98.995934,0,0,0

In [9]:
# 1st variable
x = data.drop('diabetes', axis = 1)
x

,age,sex,total_cholesterol,ldl,hdl,systolic_bp,diastolic_bp,smoking,heart_attack
0,57,1,229.463642,175.879129,39.225687,124.070127,91.378780,0,0
1,58,1,186.464120,128.984916,34.950968,95.492552,64.355040,1,0
2,37,1,251.300719,152.347592,45.913288,99.519335,64.953147,0,0
3,55,1,192.058908,116.803684,67.208925,122.460002,73.821382,0,0
4,53,1,151.203448,107.017396,60.693838,123.022257,81.121946,0,0
...,...,...,...,...,...,...,...,...,...
995,65,1,195.336429,149.070951,43.914928,132.878440,86.246414,0,0
996,60,1,192.342928,134.357395,53.380714,145.149535,91.069141,0,0
997,70,0,174.179319,125.900047,50.406918,133.022878,85.851330,0,0
998,48,0,189.715685,152.388737,40.700912,113.527965,86.368294,0,0
999,63,1,136.207724,96.768635,57.566116,136.439507,98.995934,0,0

In [10]:
# 2nd variable
y = data['diabetes']
y

0      0
1      0
2      1
3      0
4      1
      ..
995    0
996    0
997    0
998    0
999    0
Name: diabetes, Length: 1000, dtype: int64

In [11]:
# Split the data

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [13]:
 x_train.shape, y_train.shape, x_test.shape, y_test.shape    # Starting 25% of data (in this starting 250 rows) is use for testing data

((750, 9), (750,), (250, 9), (250,))

In [14]:
len(data)          # Total Data 1000 = Train data 750 + Test data 250

1000

In [15]:
# Converting Data type (we need int data type to perform operations on it)

In [16]:
test_data = pd.read_csv('Covid Data.csv')
test_data

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,1.915438
...,...,...,...,...,...,...,...,...
220,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,1.541850
221,Western Sahara,Western Sahara,ESHÃ‚,623031,Africa,10,1,10.000000
222,Yemen,Yemen,YEM,30975258,Asia,11806,2143,18.151787
223,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,1.251120
224,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,2.209107

In [17]:
test_data.dtypes

Country                     object
Other names                 object
ISO 3166-1 alpha-3 CODE     object
Population                   int64
Continent                   object
Total Cases                  int64
Total Deaths                 int64
Death percentage           float64
dtype: object

In [18]:
test_data['Death percentage'] = test_data['Death percentage'].round().astype(int)        # convert the float to int

In [19]:
test_data.dtypes       # Now the data type of Death percentage is int

Country                    object
Other names                object
ISO 3166-1 alpha-3 CODE    object
Population                  int64
Continent                  object
Total Cases                 int64
Total Deaths                int64
Death percentage            int64
dtype: object

In [20]:
x = test_data.drop('Death percentage', axis = 1)
y = test_data['Death percentage']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [21]:
covid_model = RandomForestRegressor()
# covid_model.fit(x_train, y_train)
# covid_model.score(x_test, y_test)   # could not convert string to float: 'Venezuela' >>> Shows this error

In [22]:
# We need integer data to perform action on it. 
# Transfromation Method

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [24]:
# 1) Hottie Method
string_col = ['Country', 'Other names', 'ISO 3166-1 alpha-3 CODE', 'Continent']
hottie = OneHotEncoder()

transformer = ColumnTransformer([('One Hottie', hottie, string_col )], remainder = 'passthrough')
transform_x = transformer.fit_transform(x)
pd.DataFrame(transform_x)

                                                     0
0    <Compressed Sparse Row sparse matrix of dtype ...
1    <Compressed Sparse Row sparse matrix of dtype ...
2    <Compressed Sparse Row sparse matrix of dtype ...
3    <Compressed Sparse Row sparse matrix of dtype ...
4    <Compressed Sparse Row sparse matrix of dtype ...
..                                                 ...
220  <Compressed Sparse Row sparse matrix of dtype ...
221  <Compressed Sparse Row sparse matrix of dtype ...
222  <Compressed Sparse Row sparse matrix of dtype ...
223  <Compressed Sparse Row sparse matrix of dtype ...
224  <Compressed Sparse Row sparse matrix of dtype ...

[225 rows x 1 columns]

In [25]:
# 2) Transformation Method
transform_data = pd.get_dummies(test_data[['Country', 'Other names', 'ISO 3166-1 alpha-3 CODE', 'Continent']])
transform_data

,Country_Afghanistan,Country_Albania,Country_Algeria,Country_Andorra,Country_Angola,Country_Anguilla,Country_Antigua and Barbuda,Country_Argentina,Country_Armenia,Country_Aruba,...,ISO 3166-1 alpha-3 CODE_YEM,ISO 3166-1 alpha-3 CODE_ZAF,ISO 3166-1 alpha-3 CODE_ZMB,ISO 3166-1 alpha-3 CODE_ZWE,Continent_Africa,Continent_Asia,Continent_Europe,Continent_Latin America and the Caribbean,Continent_Northern America,Continent_Oceania
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
221,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
222,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
223,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
224,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False

In [26]:
# ChatGPT METHOD
# Assuming your DataFrame is named 'x'
# Sample columns that are of object type and need conversion
object_columns = ['Country', 'Other names', 'ISO 3166-1 alpha-3 CODE', 'Continent']

# Attempt to convert object columns to numeric types (int)
# Handle errors where conversion might fail for non-numeric values (e.g., due to strings like 'N/A' or 'unknown')
for column in object_columns:
    try:
        x[column] = pd.to_numeric(x[column], errors='coerce')  # This will convert non-numeric values to NaN
    except Exception as e:
        print(f"Error converting {column}: {e}")

# After coercing, handle missing values (NaN) if necessary
x = x.fillna(0)  # Example: replace NaN values with 0

# Convert all remaining object columns (should be now numbers) to integers
x = x.astype({col: 'int64' for col in object_columns if x[col].dtype != 'int64'})

# Print the updated DataFrame with correct datatypes
print(x.dtypes)  # To check the types after conversion
print(x)  # To see the updated DataFrame

Country                    int64
Other names                int64
ISO 3166-1 alpha-3 CODE    int64
Population                 int64
Continent                  int64
Total Cases                int64
Total Deaths               int64
dtype: object
     Country  Other names  ISO 3166-1 alpha-3 CODE  Population  Continent  \
0          0            0                        0    40462186          0
1          0            0                        0     2872296          0
2          0            0                        0    45236699          0
3          0            0                        0       77481          0
4          0            0                        0    34654212          0
..       ...          ...                      ...         ...        ...
220        0            0                        0       10894          0
221        0            0                        0      623031          0
222        0            0                        0    30975258          0
223        0            0                        0    19284482          0
224        0            0                        0    15241601          0

     Total Cases  Total Deaths
0         177827          7671
1         273870          3492
2         265691          6874
3          40024           153
4          99194          1900
..           ...           ...
220          454             7
221           10             1
222        11806          2143
223       317076          3967
224       246525          5446

[225 rows x 7 columns]

In [27]:
# Fit the model again
x_train, x_test, y_train, y_test = train_test_split(transform_x, y, test_size = 0.3)
covid_model.fit(x_train, y_train)

RandomForestRegressor()

In [28]:
covid_model.score(x_test, y_test)

0.13049973901098877

In [29]:
# Handling the missing values

In [72]:
# 1- Using Pandas method

In [47]:
missing_data = pd.read_csv('Missing Heart Attack Data.csv')
missing_data

,age,sex,chol,Idl,hdl,bp,smoking,diabetes,heart_attack
0,57,1,229.463642,175.879129,39.225687,91.378780,0.0,0.0,0
1,58,1,186.464120,128.984916,34.950968,64.355040,1.0,0.0,0
2,37,1,NaN,152.347592,45.913288,64.953147,0.0,1.0,0
3,55,1,192.058908,116.803684,67.208925,73.821382,0.0,NaN,0
4,53,1,151.203449,107.017396,60.693838,81.121946,0.0,1.0,0
5,39,1,NaN,153.880809,31.208614,79.589069,0.0,0.0,0
6,65,0,174.615666,114.029408,NaN,85.529955,0.0,0.0,0
7,33,0,242.919402,147.951375,54.439475,77.331714,0.0,0.0,0
8,49,0,95.804359,83.304875,60.758929,77.630529,1.0,0.0,0
9,55,0,181.360943,106.011782,50.576747,87.588781,0.0,0.0,0
10,51,0,172.488842,108.373823,51.203626,69.573816,0.0,NaN,0
11,46,1,182.778911,113.654394,46.838245,79.976909,0.0,0.0,0
12,54,1,126.935920,NaN,59.037805,96.927534,0.0,0.0,0
13,33,0,219.195145,149.299488,39.257936,81.292401,0.0,0.0,0
14,35,1,196.435728,115.054870,40.611671,71.223753,NaN,0.0,0
15,73,1,200.409709,151.582647,35.832456,93.535210,1.0,0.0,1
16,54,0,152.982287,80.545168,NaN,81.364806,0.0,0.0,0
17,53,0,173.631539,148.256820,50.798154,77.914576,0.0,0.0,0
18,67,1,247.677151,170.198381,48.253167,96.906454,0.0,0.0,0
19,38,1,206.903068,135.288105,55.744469,87.955099,0.0,0.0,0
20,59,1,NaN,120.589034,50.280963,89.724712,0.0,0.0,0
21,28,1,221.797011,139.904179,38.288142,81.213628,1.0,0.0,0
22,51,1,215.404045,149.460074,54.844945,81.583860,0.0,0.0,0
23,57,0,354.660015,231.376631,38.257199,95.583121,0.0,0.0,0
24,39,1,174.989522,113.699098,72.008064,68.783664,1.0,0.0,0
25,66,0,166.430015,102.836894,60.596014,76.260029,0.0,0.0,0
26,82,0,137.289511,106.123377,49.460563,84.847968,0.0,0.0,0
27,63,1,194.784158,123.002634,45.887183,NaN,1.0,0.0,0
28,81,0,156.612750,NaN,64.753752,79.900759,0.0,0.0,0
29,49,1,161.990691,104.785853,45.107594,83.130673,0.0,0.0,0
30,71,1,258.261592,NaN,33.497190,88.343684,0.0,0.0,1
31,44,0,222.770875,169.140960,32.753422,86.497294,0.0,0.0,0
32,54,1,194.593628,119.763481,47.148348,88.198894,0.0,0.0,1
33,54,0,226.475947,131.799728,44.755490,88.664215,0.0,0.0,0
34,69,1,232.134199,150.888907,43.662758,NaN,0.0,0.0,1
35,50,0,187.462355,128.211834,49.480052,84.468459,0.0,0.0,0
36,35,1,238.307044,162.103941,48.803273,85.068712,1.0,0.0,0
37,40,0,188.036445,105.266665,52.297776,76.754749,1.0,0.0,0
38,53,1,183.910359,NaN,39.310565,65.354498,0.0,0.0,0
39,72,0,204.846300,138.548439,40.022734,80.548400,0.0,0.0,0
40,57,0,198.660791,137.845496,54.016127,79.758408,0.0,0.0,0
41,39,1,213.309574,159.658467,52.263755,93.147141,0.0,0.0,0
42,82,1,185.265005,120.949361,34.334760,74.041411,0.0,0.0,0
43,78,0,191.640042,NaN,55.932740,82.705458,0.0,0.0,0
44,26,0,180.718287,132.396348,37.560460,73.292414,0.0,0.0,0
45,59,1,200.262260,135.449668,52.935303,80.442026,1.0,0.0,0
46,55,1,NaN,170.813725,50.961599,94.965204,0.0,0.0,0
47,64,0,260.881560,152.288070,50.315269,78.895586,0.0,1.0,1

In [48]:
missing_data.isna().sum()      # give the information about how much values are missing in each column

age             0
sex             0
chol            4
Idl             5
hdl             2
bp              2
smoking         1
diabetes        2
heart_attack    0
dtype: int64

In [49]:
missing_data.dtypes

age               int64
sex               int64
chol            float64
Idl             float64
hdl             float64
bp              float64
smoking         float64
diabetes        float64
heart_attack      int64
dtype: object

In [86]:
# Fill the missing value
# 'chol' column
missing_data['chol'] = missing_data['chol'].fillna(0.0)     # fill the missing value with the mean of values

In [66]:
# 'Idl' column
missing_data['Idl'] = missing_data['Idl'].fillna(0.0)

In [67]:
# 'hdl' column
missing_data['hdl'] =  missing_data['hdl'].fillna(0.1)

In [68]:
# 'bp' column
missing_data['bp'] = missing_data['bp'].fillna(0.2)

In [69]:
# 'smoking' column
missing_data['smoking'] = missing_data['smoking'].fillna(0.2)

In [70]:
# 'diabetes' column
missing_data['diabetes'] = missing_data['diabetes'].fillna(0.0)

In [71]:
missing_data.isna().sum()

age             0
sex             0
chol            0
Idl             0
hdl             0
bp              0
smoking         0
diabetes        0
heart_attack    0
dtype: int64

In [94]:
# 2- Using Scilearn Method

In [95]:
missing_values = pd.read_csv('Missing Heart Attack Data.csv')
missing_values

,age,sex,chol,Idl,hdl,bp,smoking,diabetes,heart_attack
0,57,1,229.463642,175.879129,39.225687,91.378780,0.0,0.0,0
1,58,1,186.464120,128.984916,34.950968,64.355040,1.0,0.0,0
2,37,1,NaN,152.347592,45.913288,64.953147,0.0,1.0,0
3,55,1,192.058908,116.803684,67.208925,73.821382,0.0,NaN,0
4,53,1,151.203449,107.017396,60.693838,81.121946,0.0,1.0,0
5,39,1,NaN,153.880809,31.208614,79.589069,0.0,0.0,0
6,65,0,174.615666,114.029408,NaN,85.529955,0.0,0.0,0
7,33,0,242.919402,147.951375,54.439475,77.331714,0.0,0.0,0
8,49,0,95.804359,83.304875,60.758929,77.630529,1.0,0.0,0
9,55,0,181.360943,106.011782,50.576747,87.588781,0.0,0.0,0
10,51,0,172.488842,108.373823,51.203626,69.573816,0.0,NaN,0
11,46,1,182.778911,113.654394,46.838245,79.976909,0.0,0.0,0
12,54,1,126.935920,NaN,59.037805,96.927534,0.0,0.0,0
13,33,0,219.195145,149.299488,39.257936,81.292401,0.0,0.0,0
14,35,1,196.435728,115.054870,40.611671,71.223753,NaN,0.0,0
15,73,1,200.409709,151.582647,35.832456,93.535210,1.0,0.0,1
16,54,0,152.982287,80.545168,NaN,81.364806,0.0,0.0,0
17,53,0,173.631539,148.256820,50.798154,77.914576,0.0,0.0,0
18,67,1,247.677151,170.198381,48.253167,96.906454,0.0,0.0,0
19,38,1,206.903068,135.288105,55.744469,87.955099,0.0,0.0,0
20,59,1,NaN,120.589034,50.280963,89.724712,0.0,0.0,0
21,28,1,221.797011,139.904179,38.288142,81.213628,1.0,0.0,0
22,51,1,215.404045,149.460074,54.844945,81.583860,0.0,0.0,0
23,57,0,354.660015,231.376631,38.257199,95.583121,0.0,0.0,0
24,39,1,174.989522,113.699098,72.008064,68.783664,1.0,0.0,0
25,66,0,166.430015,102.836894,60.596014,76.260029,0.0,0.0,0
26,82,0,137.289511,106.123377,49.460563,84.847968,0.0,0.0,0
27,63,1,194.784158,123.002634,45.887183,NaN,1.0,0.0,0
28,81,0,156.612750,NaN,64.753752,79.900759,0.0,0.0,0
29,49,1,161.990691,104.785853,45.107594,83.130673,0.0,0.0,0
30,71,1,258.261592,NaN,33.497190,88.343684,0.0,0.0,1
31,44,0,222.770875,169.140960,32.753422,86.497294,0.0,0.0,0
32,54,1,194.593628,119.763481,47.148348,88.198894,0.0,0.0,1
33,54,0,226.475947,131.799728,44.755490,88.664215,0.0,0.0,0
34,69,1,232.134199,150.888907,43.662758,NaN,0.0,0.0,1
35,50,0,187.462355,128.211834,49.480052,84.468459,0.0,0.0,0
36,35,1,238.307044,162.103941,48.803273,85.068712,1.0,0.0,0
37,40,0,188.036445,105.266665,52.297776,76.754749,1.0,0.0,0
38,53,1,183.910359,NaN,39.310565,65.354498,0.0,0.0,0
39,72,0,204.846300,138.548439,40.022734,80.548400,0.0,0.0,0
40,57,0,198.660791,137.845496,54.016127,79.758408,0.0,0.0,0
41,39,1,213.309574,159.658467,52.263755,93.147141,0.0,0.0,0
42,82,1,185.265005,120.949361,34.334760,74.041411,0.0,0.0,0
43,78,0,191.640042,NaN,55.932740,82.705458,0.0,0.0,0
44,26,0,180.718287,132.396348,37.560460,73.292414,0.0,0.0,0
45,59,1,200.262260,135.449668,52.935303,80.442026,1.0,0.0,0
46,55,1,NaN,170.813725,50.961599,94.965204,0.0,0.0,0
47,64,0,260.881560,152.288070,50.315269,78.895586,0.0,1.0,1

In [96]:
missing_values.isna().sum()

age             0
sex             0
chol            4
Idl             5
hdl             2
bp              2
smoking         1
diabetes        2
heart_attack    0
dtype: int64

In [97]:
# drop the NaN value rows
missing_values = missing_values.dropna(subset = ['hdl'])   # It drops the NaN rows
missing_values.isna().sum()

age             0
sex             0
chol            4
Idl             5
hdl             0
bp              2
smoking         1
diabetes        2
heart_attack    0
dtype: int64

In [105]:
# Imputation

In [106]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Create the imputer
float_imputer = SimpleImputer(strategy='constant', fill_value=0.1)

# Define the features to impute
float_features = ['chol', 'Idl', 'hdl', 'bp', 'smoking', 'diabetes']

# Create the ColumnTransformer - NOTE: transformers must be in a list of tuples
imputer = ColumnTransformer([
    ('float_imputer', float_imputer, float_features)  # This is a tuple inside a list
])

# Fit and transform the data
filled_values = imputer.fit_transform(missing_values)
filled_values

array([[2.29463642e+02, 1.75879129e+02, 3.92256871e+01, 9.13787803e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.86464120e+02, 1.28984916e+02, 3.49509676e+01, 6.43550402e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.00000000e-01, 1.52347592e+02, 4.59132877e+01, 6.49531470e+01,
        0.00000000e+00, 1.00000000e+00],
       [1.92058908e+02, 1.16803684e+02, 6.72089250e+01, 7.38213818e+01,
        0.00000000e+00, 1.00000000e-01],
       [1.51203449e+02, 1.07017396e+02, 6.06938379e+01, 8.11219458e+01,
        0.00000000e+00, 1.00000000e+00],
       [1.00000000e-01, 1.53880809e+02, 3.12086140e+01, 7.95890690e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.42919402e+02, 1.47951375e+02, 5.44394748e+01, 7.73317143e+01,
        0.00000000e+00, 0.00000000e+00],
       [9.58043591e+01, 8.33048749e+01, 6.07589289e+01, 7.76305293e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.81360943e+02, 1.06011782e+02, 5.05767466e+01, 8.75887813e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.72488842e+02, 1.08373823e+02, 5.12036260e+01, 6.95738161e+01,
        0.00000000e+00, 1.00000000e-01],
       [1.82778911e+02, 1.13654394e+02, 4.68382453e+01, 7.99769093e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.26935920e+02, 1.00000000e-01, 5.90378051e+01, 9.69275343e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.19195145e+02, 1.49299488e+02, 3.92579359e+01, 8.12924009e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.96435728e+02, 1.15054870e+02, 4.06116713e+01, 7.12237535e+01,
        1.00000000e-01, 0.00000000e+00],
       [2.00409709e+02, 1.51582647e+02, 3.58324560e+01, 9.35352104e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.73631539e+02, 1.48256820e+02, 5.07981539e+01, 7.79145765e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.47677151e+02, 1.70198381e+02, 4.82531666e+01, 9.69064542e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.06903068e+02, 1.35288105e+02, 5.57444687e+01, 8.79550992e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.00000000e-01, 1.20589034e+02, 5.02809631e+01, 8.97247121e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.21797011e+02, 1.39904179e+02, 3.82881422e+01, 8.12136276e+01,
        1.00000000e+00, 0.00000000e+00],
       [2.15404045e+02, 1.49460074e+02, 5.48449455e+01, 8.15838603e+01,
        0.00000000e+00, 0.00000000e+00],
       [3.54660015e+02, 2.31376631e+02, 3.82571994e+01, 9.55831206e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.74989522e+02, 1.13699098e+02, 7.20080637e+01, 6.87836637e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.66430015e+02, 1.02836894e+02, 6.05960143e+01, 7.62600288e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.37289511e+02, 1.06123377e+02, 4.94605631e+01, 8.48479677e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.94784158e+02, 1.23002634e+02, 4.58871833e+01, 1.00000000e-01,
        1.00000000e+00, 0.00000000e+00],
       [1.56612750e+02, 1.00000000e-01, 6.47537517e+01, 7.99007587e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.61990691e+02, 1.04785853e+02, 4.51075942e+01, 8.31306729e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.58261592e+02, 1.00000000e-01, 3.34971897e+01, 8.83436837e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.22770875e+02, 1.69140960e+02, 3.27534221e+01, 8.64972942e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.94593628e+02, 1.19763481e+02, 4.71483476e+01, 8.81988942e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.26475947e+02, 1.31799728e+02, 4.47554903e+01, 8.86642149e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.32134199e+02, 1.50888907e+02, 4.36627579e+01, 1.00000000e-01,
        0.00000000e+00, 0.00000000e+00],
       [1.87462355e+02, 1.28211834e+02, 4.94800519e+01, 8.44684589e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.38307044e+02, 1.62103941e+02, 4.88032726e+01, 8.50687120e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.88036445e+02, 1.05266665e+02, 5.22977763e+01, 7.67547491e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.83910359e+02, 1.00000000e-01, 3.93105653e+01, 6.53544979e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.04846300e+02, 1.38548439e+02, 4.00227344e+01, 8.05483998e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.98660791e+02, 1.37845496e+02, 5.40161268e+01, 7.97584079e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.13309574e+02, 1.59658467e+02, 5.22637554e+01, 9.31471414e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.85265005e+02, 1.20949361e+02, 3.43347603e+01, 7.40414110e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.91640042e+02, 1.00000000e-01, 5.59327404e+01, 8.27054580e+01,
        0.00000000e+00, 0.00000000e+00],
       [1.80718287e+02, 1.32396348e+02, 3.75604597e+01, 7.32924137e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.00262260e+02, 1.35449668e+02, 5.29353034e+01, 8.04420261e+01,
        1.00000000e+00, 0.00000000e+00],
       [1.00000000e-01, 1.70813725e+02, 5.09615994e+01, 9.49652042e+01,
        0.00000000e+00, 0.00000000e+00],
       [2.60881560e+02, 1.52288070e+02, 5.03152691e+01, 7.88955858e+01,
        0.00000000e+00, 1.00000000e+00]])

In [107]:
orgainzed_data = pd.DataFrame(filled_values, columns= ['chol', 'Idl', 'hdl', 'bp', 'smoking', 'diabetes'])
orgainzed_data

          chol         Idl        hdl         bp  smoking  diabetes
0   229.463642  175.879129  39.225687  91.378780      0.0       0.0
1   186.464120  128.984916  34.950968  64.355040      1.0       0.0
2     0.100000  152.347592  45.913288  64.953147      0.0       1.0
3   192.058908  116.803684  67.208925  73.821382      0.0       0.1
4   151.203449  107.017396  60.693838  81.121946      0.0       1.0
5     0.100000  153.880809  31.208614  79.589069      0.0       0.0
6   242.919402  147.951375  54.439475  77.331714      0.0       0.0
7    95.804359   83.304875  60.758929  77.630529      1.0       0.0
8   181.360943  106.011782  50.576747  87.588781      0.0       0.0
9   172.488842  108.373823  51.203626  69.573816      0.0       0.1
10  182.778911  113.654394  46.838245  79.976909      0.0       0.0
11  126.935920    0.100000  59.037805  96.927534      0.0       0.0
12  219.195145  149.299488  39.257936  81.292401      0.0       0.0
13  196.435728  115.054870  40.611671  71.223753      0.1       0.0
14  200.409709  151.582647  35.832456  93.535210      1.0       0.0
15  173.631539  148.256820  50.798154  77.914576      0.0       0.0
16  247.677151  170.198381  48.253167  96.906454      0.0       0.0
17  206.903068  135.288105  55.744469  87.955099      0.0       0.0
18    0.100000  120.589034  50.280963  89.724712      0.0       0.0
19  221.797011  139.904179  38.288142  81.213628      1.0       0.0
20  215.404045  149.460074  54.844945  81.583860      0.0       0.0
21  354.660015  231.376631  38.257199  95.583121      0.0       0.0
22  174.989522  113.699098  72.008064  68.783664      1.0       0.0
23  166.430015  102.836894  60.596014  76.260029      0.0       0.0
24  137.289511  106.123377  49.460563  84.847968      0.0       0.0
25  194.784158  123.002634  45.887183   0.100000      1.0       0.0
26  156.612750    0.100000  64.753752  79.900759      0.0       0.0
27  161.990691  104.785853  45.107594  83.130673      0.0       0.0
28  258.261592    0.100000  33.497190  88.343684      0.0       0.0
29  222.770875  169.140960  32.753422  86.497294      0.0       0.0
30  194.593628  119.763481  47.148348  88.198894      0.0       0.0
31  226.475947  131.799728  44.755490  88.664215      0.0       0.0
32  232.134199  150.888907  43.662758   0.100000      0.0       0.0
33  187.462355  128.211834  49.480052  84.468459      0.0       0.0
34  238.307044  162.103941  48.803273  85.068712      1.0       0.0
35  188.036445  105.266665  52.297776  76.754749      1.0       0.0
36  183.910359    0.100000  39.310565  65.354498      0.0       0.0
37  204.846300  138.548439  40.022734  80.548400      0.0       0.0
38  198.660791  137.845496  54.016127  79.758408      0.0       0.0
39  213.309574  159.658467  52.263755  93.147141      0.0       0.0
40  185.265005  120.949361  34.334760  74.041411      0.0       0.0
41  191.640042    0.100000  55.932740  82.705458      0.0       0.0
42  180.718287  132.396348  37.560460  73.292414      0.0       0.0
43  200.262260  135.449668  52.935303  80.442026      1.0       0.0
44    0.100000  170.813725  50.961599  94.965204      0.0       0.0
45  260.881560  152.288070  50.315269  78.895586      0.0       1.0