In [61]:
import pandas as pd

In [62]:
data = pd.read_csv('test_dataset.csv')

In [63]:
data

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,1700,1,1.9,0,0,1,54,0.5,170,...,17,644,913,2121,14,8,15,1,1,0
996,997,609,0,1.8,1,0,0,13,0.9,186,...,2,1152,1632,1933,8,1,19,0,1,1
997,998,1185,0,1.4,0,1,1,8,0.5,80,...,12,477,825,1223,5,0,14,1,0,0
998,999,1533,1,0.5,1,0,0,50,0.4,171,...,12,38,832,2509,15,11,6,0,1,0
999,1000,1270,1,0.5,0,4,1,35,0.1,140,...,19,457,608,2828,9,2,3,1,0,1

In [64]:
# Changing Data

In [65]:
price_list = ['Rs 120','Rs 14.9','Rs 99.9','Rs 125','Rs 178.0','Rs 1900' ]

In [66]:
# Edit the data

In [67]:
# data['Column Name'].str.lower()      >>>> To Covert to lower case

In [68]:
# Cleaning of data

In [69]:
# fillna() >> use to fill the NaN values      (if inpalce is true, it change the original data)

In [70]:
# dropna() >> use to remove the data where value is NaN   (if inpalce is true, it change the original data)

In [71]:
# To Add data

In [72]:
# .fillna(value, inplace = True)          >>>> Given value is added in the selected column where value is NaN

In [73]:
# to add new column

In [74]:
# test_column = [1,... 1000]

In [75]:
# data['new_coulmn'] = test_column   >> Now add the new column in our data. Make sure that item length must be equal

In [76]:
new_data = data.head(5)

In [77]:
new_data

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [78]:
test_column = [1,2,3,4,5]

In [53]:
# new_data['new_column'] = test_column

In [54]:
# Add a single value in column

In [55]:
# new_data['new_column'] = 3

In [56]:
# Column (axis = 1) & Row (axis = 0)

In [79]:
data = data.drop('battery_power', axis = 1, inplace = True)           # >> Delete the given column

In [80]:
data